body {
    background-color:rgb(30, 30, 30);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center
}

#game {
    display: none;
}

#start {
    margin-right: 16vh;
}

#timer {
    display: flex;
    margin-right: 3vh;
}

button {
    margin-bottom: 1vh;
    background-color: #68BBE3;
}

li {
    margin-left: 2vh;
}

#rightOrWrong {
    display: none;
    border-top: 2px solid white;
    margin-left: 35vw;
    margin-right: 40vw;
}

#initials {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#save, #again {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#ranking {
    display: none;
}